body {
  background: #2f3136 !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(#ffffff, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(#ffffff, 0.1);
}

.wallet-adapter-modal {
  z-index: 9999;
}